
<section class="presentation">
  <span></span>
  <div class="title">
    <%= render 'layouts/social' %>
    <h1>Savage</h1>
    <h2>La référence de l'élite eistien</h2>
  </div>
  <div class="more">
    <h3>Découvre tes listeux</h3>
    <h3><i class="fa fa-arrow-down" aria-hidden="true"></i></h3>
  </div>
</section>
<section class="membres" id="membres">
  <h1>Membres</h1>
  <h3>Qui sommes-nous ?</h3>

  <div class="us">
  <img src="/groupe2.jpeg" alt=""></div>

  <% @teams.each do |team| %>
    <div class="flex-row">
      <h1><hr class="inline">Paul <%= team.name %><hr class="inline"></h1>
      <% team.users.order(:classification).each do |user| %>
      <div class="user inactive">
        <img class="user-pic grayscale-hover" src="<%= user.avatar %>" alt="">
        <hr>
          <div class="top-card">
            <div class="nickname"
              data-state="true"
              data-nickname="<%= user.nickname %>"
              data-name="<%= user.firstname %> <%= user.name %>">
              <%= user.nickname %>
            </div>
            <i class="pull-right fa fa-chevron-up to-up"></i>
          </div>
          <div class="content">
              <div class="nickname"
              data-state="true"
              data-nickname="<%= user.nickname %>"
              data-name="<%= user.firstname %> <%= user.name %>">
              <%= user.nickname %>
              </div>
              <i class="pull-right fa fa-times close"></i>
            <div class="role"><%if user.role == ""%>Membre<% else %><%= user.role %><%end%></div>
            <!-- <br><b class="quote">“</b> -->
            <blockquote>
              <%= user.quote %>
            </blockquote>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>

</section>
<section class="dark" id='voyages'>
  <div class="container">

    <br>
    <h1>Voyages</h1>
    <h3>Regarde les merveilleux voyages que tes listeux te proposent</h3>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h2>Séville</h2>
        <img src="/sevilla.jpg" alt="Seville" class="img-thumbnail">
        <p class="text-justify">
          <br>
          Avec son atmosphère caliente, Séville est la ville idéale pour passer un séjour inoubliable. Destination vivante au cœur de l'Andalousie, elle offre un excellent terrain de jeu pour les noctambules. Des clubs de Flamenco aux discothèques Techno en passant par les bars à tapas, Séville se déguste le jour mais se vit pleinement une fois la nuit tombée.
        </p>
        <hr>
      </div>

      <div class="col-md-6 col-sm-12">
        <h2>Varsovie </h2>
        <img src="/varsovie.jpg" alt="Seville" class="img-thumbnail">
        <p class="text-justify">
          <br>
          Bien que la capitale Polonaise soit moins touristique que Cracovie, c’est à Varsovie que vont les Eistiens pour faire la fête. Que vous souhaitiez passer votre temps à visiter Varsovie et les attractions culturelles de la ville ou simplement boire autant de Tyskie (bière polonaise) que possible avant de reprendre l’avion, les Savage vous ont préparé un séjour de folie !
        </p>
        <hr>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">

function cryptAnim(balise, times, end) {
  if (times == 0) { balise.html(end); return; }
  balise.html(Math.random().toString(36).slice(2,12));
  setTimeout(function () { cryptAnim(balise, times - 1, end) }, 30);
}

function crypt(t) {
  let state = $(t).data()["state"]
  if (state == "true") { cryptAnim($(t), 10, $(t).data()["nickname"]); $(t).data("state", "false")
  } else { cryptAnim($(t), 10, $(t).data()["name"]); $(t).data("state", "true") }
}

  $(".nickname")
  .hover(function() { crypt(this); }, function(){})
  .click(function() { crypt(this); });

  $(".to-up").click(function() { $(this).parent().parent().removeClass("inactive").addClass("active") })
  $(".close").click(function() { $(this).parent().parent().removeClass("active").addClass("inactive") })

</script>
