<section class="presentation">
  <span></span>
  <div class="title">
    <%= render 'layouts/social' %>
    <h1><%= render 'not-filled' %></h1>
    <h2>La référence de l'élite eistien</h2>
  </div>
  <div class="more">
    <h3><a class="not-link" href="#membres">Découvre tes listeux</a></h3>
    <h3><a class="fa fa-arrow-down not-link" aria-hidden="true" href="#membres"></a></h3>
  </div>
</section>

<section class="membres" id="membres">
  <h1>Membres</h1>
  <h3>Qui sommes-nous ?</h3>

  <div class="us">
    <img src="/groupe2.jpeg" alt="">
  </div>
  <h3>Nos ambitions</h3>
  <p class="container" style="font-size:1.3em;text-align:justify">
    Nous serons heureux de continuer le projet de reconstruction du foyer.
    Grâce à nos partenaires, nous serons en mesure de créer un espace convivial pour l'ensemble des étudiants.
    Ce sera aussi le retour de l'incontournable photo de promotion dès le mois d'octobre, sans oublier la photo annuelle du personnel.
    <br>
    La dynamique du campus passera par l'organisation de nos traditionnelles soirées éistiennes, mais également par des afterworks et d'autres activités inédites en tout genre.
  </p>
  <div class="container">
    <p class="video-wrapper">
      <iframe class="video" src="https://www.youtube.com/embed/yQufdxGM8Sg" frameborder="0" allowfullscreen></iframe>
    </p>
  </div>
  <% @teams.each do |team| %>
    <div class="flex-row">
      <div class="container">

      <h1>Paul <%= team.name %></h1>
      <% team.users.order(:classification).each do |user| %>
      <div class="user inactive">
        <img class="user-pic grayscale-hover" src="<%= user.avatar.url(:medium) %>" alt="">
        <hr>
          <div class="top-card">
            <div class="nickname"
              data-state="true"
              data-nickname="<%= user.nickname %>"
              data-name="<%= user.firstname %> <%= user.name %>">
              <%= user.nickname %>
            </div>
            <i class="pull-right fa fa-chevron-up to-up"></i>
          </div>
          <div class="content">
              <div class="nickname"
              data-state="true"
              data-nickname="<%= user.nickname %>"
              data-name="<%= user.firstname %> <%= user.name %>">
              <%= user.nickname %>
              </div>
              <i class="pull-right fa fa-times close"></i>
            <div class="role"><%if user.role == ""%>Membre<% else %><%= user.role %><%end%></div>
            <!-- <br><b class="quote">“</b> -->
            <blockquote>
              <%= user.quote %>
            </blockquote>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <% end %>

</section>
<section class="dark" id='voyages'>
  <div class="container">

    <br>
    <h1>Voyages</h1>
    <h3>Regarde les merveilleux voyages que tes listeux te proposent</h3>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h2>Séville</h2>
        <img src="/sevilla_sd.jpg" alt="Seville" class="img-thumbnail">
        <p class="text-justify">
          <br>
          Avec son atmosphère caliente, Séville est la ville idéale pour passer un séjour inoubliable. Destination vivante au cœur de l'Andalousie, elle offre un excellent terrain de jeu pour les noctambules. Des clubs de Flamenco aux discothèques Techno en passant par les bars à tapas, Séville se déguste le jour mais se vit pleinement une fois la nuit tombée.
        </p>
      </div>

      <div class="col-md-6 col-sm-12">
        <h2>Varsovie </h2>
        <img src="/varsovie_sd.jpg" alt="Varsovie" class="img-thumbnail">
        <p class="text-justify">
          <br>
          Bien que la capitale Polonaise soit moins touristique que Cracovie, c’est à Varsovie que vont les Eistiens pour faire la fête. Que vous souhaitiez passer votre temps à visiter Varsovie et les attractions culturelles de la ville ou simplement boire autant de Tyskie (bière polonaise) que possible avant de reprendre l’avion, les Savage vous ont préparé un séjour de folie !
        </p>
      </div>

      <div class="col-md-6 col-sm-12">
        <h2>Ski </h2>
        <img src="/ski_sd.jpeg" alt="Ski" class="img-thumbnail">
        <p class="text-justify">
          <br>
          Rien de mieux qu’une bonne semaine entre Eistiens au ski ! Entre neige et soleil, ski et vin chaud, une chose est sûre, vous ne regretterez pas votre voyage aux sports d’hiver dans une ambiance Savage à souhait ! Du sports et des soirées et toujours plein de convivialité !
        </p>
      </div>

      <div class="col-md-6 col-sm-12">
        <h2>Week-end d'Intégration</h2>
        <img src="/wei_sd.jpg" alt="Ski" class="img-thumbnail">
        <p class="text-justify">
          <br>
          Le voyage initiatique incontournable ! Préparez-vous à vivre un week-end inoubliable, accompagné par la liste Savage.
        </p>
      </div>


    </div>
  </div>
  <br>
</section>


<%= render 'enterprises' %>
<%= render 'layouts/footer' %>

<script type="text/javascript">

function cryptAnim(balise, times, end) {
  if (times == 0) { balise.html(end); return; }
  balise.html(Math.random().toString(36).slice(2,12));
  setTimeout(function () { cryptAnim(balise, times - 1, end) }, 30);
}

function crypt(t) {
  let state = $(t).data()["state"]
  if (state == "true") { cryptAnim($(t), 10, $(t).data()["nickname"]); $(t).data("state", "false")
  } else { cryptAnim($(t), 10, $(t).data()["name"]); $(t).data("state", "true") }
}

  $(".nickname")
  .hover(function() { crypt(this); }, function(){})
  .click(function() { crypt(this); });

  $(".to-up").click(function() { $(this).parent().parent().removeClass("inactive").addClass("active") })
  $(".close").click(function() { $(this).parent().parent().removeClass("active").addClass("inactive") })

  $('a[href^="#"]').click(function(e) {
      e.preventDefault();
      var aid = $(this).attr("href");
      $('html,body').animate({scrollTop: $(aid).offset().top},'slow');
  });

</script>
