
<section class="presentation">
  <span></span>
  <div class="title">
    <h3 class="social"> <i class="fa fa-snapchat-square"></i> <i class="fa fa-facebook-square"></i> <i class="fa fa-twitter-square"></i></h3>
    <h1>Worth it</h1>
    <h2>La référence de l'élite eistien</h2>
    <!-- <h1>Starfoullah Team</h1> -->
    <!-- <h2>La référence de l'élite eistien</h2> -->
  </div>
  <div class="more">
    <!-- <h3>Découvre tes listeux</h3> -->
    <h3>Découvre tes listeux</h3>
    <h3><i class="fa fa-arrow-down" aria-hidden="true"></i></h3>
  </div>
</section>
<section class="membres">
  <h1>Membres</h1>
  <h3>Qui sommes-nous ?</h3>

  <% @teams.each do |team| %>
    <div class="flex-row">
      <h1><hr class="inline">Paul <%= team.name %><hr class="inline"></h1>
      <% team.users.order(:classification).each do |user| %>
      <div class="user inactive">
        <img class="user-pic grayscale-hover" src="<%= user.avatar %>" alt="">
        <hr>
          <div class="top-card">
            <div class="nickname"
              data-state="true"
              data-nickname="<%= user.nickname %>"
              data-name="<%= user.firstname %> <%= user.name %>">
              <%= user.nickname %>
            </div>
            <i class="pull-right fa fa-chevron-up to-up"></i>
          </div>
          <div class="content">
              <div class="nickname"
              data-state="true"
              data-nickname="<%= user.nickname %>"
              data-name="<%= user.firstname %> <%= user.name %>">
              <%= user.nickname %>
              </div>
              <i class="pull-right fa fa-times close"></i>
            <div class="role"><%= user.role %></div>
            <!-- <br><b class="quote">“</b> -->
            <blockquote>
              <!-- < user.quote %> -->
            </blockquote>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>

</section>
<section class="voyages" id='voyages'>
  <h1>Voyages</h1>
  <h3>Regarde les merveilleux voyages que tes listeux te proposent</h3>
</section>

<script type="text/javascript">

function cryptAnim(balise, times, end) {
  if (times == 0) { balise.html(end); return; }
  balise.html(Math.random().toString(36).slice(2,12));
  setTimeout(function () { cryptAnim(balise, times - 1, end) }, 30);
}

function crypt(t) {
  let state = $(t).data()["state"]
  if (state == "true") { cryptAnim($(t), 10, $(t).data()["nickname"]); $(t).data("state", "false")
  } else { cryptAnim($(t), 10, $(t).data()["name"]); $(t).data("state", "true") }
}

  $(".nickname")
  .hover(function() { crypt(this); }, function(){})
  .click(function() { crypt(this); });

  $(".to-up").click(function() { $(this).parent().parent().removeClass("inactive").addClass("active") })
  $(".close").click(function() { $(this).parent().parent().removeClass("active").addClass("inactive") })

</script>
