<div class="page-header">
  <h1>Éditer pôle <small><%= @team.label %></small></h1>
</div>

<%= simple_form_for @team, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f| %>
    <%= f.input :label %>
    <%= f.input :classification %>

    <%= f.button :submit %>
<% end %>