<h2>Éditer la commande #<%= @order.id %></h2>

<%= simple_form_for @order, html: { class: 'form-horizontal' }, wrapper: :horizontal_form, url: orders_path, method: :patch do |f| %>
    <%= f.association :place %>
    <%= f.association :stand %>
    <%= f.input :content %>
    <%= f.input :author %>

    <%= f.button :submit %>
<% end %>