<div class="page-header">
  <h1>Éditer la commande <small>#<%= @order.id %></small></h1>
</div>


<%= simple_form_for @order, html: { class: 'form-horizontal' }, wrapper: :horizontal_form, url: orders_path, method: :patch do |f| %>
    <%= f.association :place %>
    <%= f.association :stand %>
    <%= f.input :content %>
    <%= f.input :author %>

    <%= f.button :submit %>
<% end %>