<div class="page-header">
  <h1>
    Liste des commandes
    <small>
      <% if @stand %>
          <%= @stand.label %>
      <% end %>
    </small>
  </h1>
</div>

<% if @stands %>
    Filtrer par stand :
    <% @stands.each do |stand| %>
        <a href="<%= orders_path %>?stand_id=<%= stand.id %>">
          <%= stand.label %>
        </a>
        <% if stand != @stands.last %>
            -
        <% end %>
    <% end %><br>
    Filtrer par statut :
    <% @statuses.each do |label, id| %>
        <a href="<%= orders_path %>?status=<%= id %>">
          <%= label %>
        </a>
    <% end %>
    <hr>
<% end %>

<table class="table table-hover datatable">
  <thead>
    <tr>
      <th>#</th>
      <th>Lieu</th>
      <th>Description</th>
      <th>Demandeur</th>
      <th>Affectation</th>
      <th>Heure de commande</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.place ? order.place.label : '' %></td>
      <td><%= order.content %></td>
      <td><%= order.author %></td>
      <td><%= order.stand ? order.stand.label : '' %></td>
      <td><%= order.created_at.to_formatted_s(:short) %></td>
      <td>
        <div class="btn-group btn-group-xs">
          <a href="<%= order_path(order) %>" class="btn btn-primary">
            <i class="fa fa-eye"></i>
          </a>
          <a href="<%= edit_order_path(order) %>" class="btn btn-warning">
            <i class="fa fa-pencil"></i>
          </a>
          <a href="<%= orders_path %>/<%= order.id %>/complete<%= @stand ? '?stand_id=' + @stand.id.to_i.to_s : ''%>" class="btn btn-success">
            <i class="fa fa-check"></i>
          </a>
          <a href="<%= order_path(order) %>" data-method="delete" data-confirm="Êtes-vous sur ?"
             class="btn btn-danger">
            <i class="fa fa-trash"></i>
          </a>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= javascript_include_tag params[:controller] %>