<div class="page-header">
  <img class="img-responsive" src="/crepe.jpg" alt="">
  <h1>Passe ta commande !</h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-4">
    <h3><i class="fa fa-phone"></i> Tes listeux te proposent</h3>
    <ol>
      <li>Crêpes</li>
      <li>Massage</li>
      <li>Blagues</li>
      <li>Twerk</li>
      <li>Câlin</li>
      <li>Histoire</li>
      <li>Fast food</li>
      <li>Compliment</li>
      <li title="Commande ta place">Place</li>
    </ol>
  </div>
  <div class="col-xs-12 col-sm-8">
    <%= simple_form_for @order do |f| %>
        <%= f.association :place %>
        <%= f.input :place_details, :input_html => {:maxlength => 150} %>
        <%= f.input :content, :input_html => {:maxlength => 500} %>
        <%= f.input :author, :input_html => {:maxlength => 150} %>
        <%= f.input :recontact_info, :input_html => {:maxlength => 150} %>

        <% if !user_signed_in?  %>
            <%= recaptcha_tags %>
        <% end %>

        <%= f.button :submit, class: "pull-right" %>
    <% end %>
  </div>

</div>
