<div class="page-header">
  <h1>Passe ta commande !</h1>
</div>

<%= simple_form_for @order, html: { class: 'form-horizontal' }, wrapper: :horizontal_form, url: orders_path do |f| %>
    <%= f.association :place %>
    <%= f.input :content %>
    <%= f.input :author %>

    <%= recaptcha_tags %>

    <%= f.button :submit %>
<% end %>