<div class="page-header">
  <img class="img-responsive" src="/crepe.jpg" alt="">
  <h1>Passe ta commande !</h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-4">
    <h3><i class="fa fa-phone"></i> Tes listeux te proposent</h3>
    <ol>
      <li>Crêpes</li>
      <li>Massage</li>
      <li>Blagues</li>
      <li title="À vos frais">Courses*</li>
      <li>Twerk</li>
      <li>Câlin</li>
      <li title="À vos frais">Cuisine*</li>
      <li title="Stocks limités">Banane****</li>
      <li>Histoire</li>
      <li title="Grec frites sans boisson, attente 30min minimum">Grec 3,50€**</li>
      <li>Fast food</li>
      <li>Vaisselle</li>
      <li>Ménage</li>
      <li>Chorée</li>
      <li>Limousin</li>
      <li>Téléphone Rose</li>
      <li>Compliment</li>
      <li title="Dans Cergy Préfecture">Taxi***</li>
      <li title="Commande ta place">Place</li>
    </ol>
    <h3>Conditions</h3>
    <p>
    * : À vos frais <br>
    ** : Grec frites sans boisson, attente 30min minimum <br>
    *** : Dans Cergy Préfecture <br>
    **** : Stocks limités
    </p>
  </div>
  <div class="col-xs-12 col-sm-8">
    <%= simple_form_for @order do |f| %>
        <%= f.association :place %>
        <%= f.input :place_details %>
        <%= f.input :content %>
        <%= f.input :author %>
        <%= f.input :recontact_info %>

        <% if !user_signed_in?  %>
            <%= recaptcha_tags %>
        <% end %>

        <%= f.button :submit, class: "pull-right" %>
    <% end %>
  </div>

</div>
