<div class="page-header">
  <h1>Commande <small>#<%= @order.id %></small></h1>
</div>

<a href="<%= edit_order_path(@order) %>">Éditer</a>

<p>
  <em>Auteur : </em>
  <%= @order.author %>
  <br>
  <em>Information contact :</em>
  <%= @order.recontact_info %>
  <br>
  <em>Lieu :</em>
  <%= @order.place ? @order.place.label : '' %>
  <br>
  <em>Détails du lieu :</em>
  <%= @order.place_details %>
  <br>
  <em>Passée le :</em>
  <%= l @order.created_at, format: :short %>
</p>

<% if @order.stand %>
    <p>
      <em>Affectation : </em>
      <%= @order.stand.label %>
    </p>
<% end %>

<p>
  <strong>Description : </strong>
  <%= @order.content %>
</p>


