<table class="table table-striped">
  <thead>
  <tr>
    <th>#</th>
    <th>Nom du défi</th>
    <th>Demandé par</th>
    <th>Le</th>
    <th>Preuves</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @challenges.where('status' => :completed).each do |challenge| %>
      <tr>
        <td><%= challenge.id %></td>
        <td><%=	challenge.label %></td>
        <td><%=	challenge.author %></td>
        <td><%=	l challenge.created_at, format: :short %></td>
        <td>
          <% if !challenge.video_link.empty? %>
              <a href="<%= challenge.video_link %>"><i class="fa fa-play"></i></a>
          <% end %>
        </td>
        <td>
          <div class="btn-group btn-group-xs">
            <a href="<%= edit_challenge_path(challenge) %>" class="btn btn-warning">
              <i class="fa fa-pencil"></i>
            </a>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>