<div class="page-header">
  <h1>
    Éditer le défi
    <small>
      #<%= @challenge.id %>
    </small>
  </h1>
</div>

<%= simple_form_for @challenge, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f| %>
    <%= f.input :public_id %>
    <hr>
    <%= f.input :label %>
    <%= f.input :author %>
    <%= f.input :status %>
    <hr>
    <%= f.input :link %>
    <%= f.input :video_link %>
    <%= f.input :picture, as: :file %>

    <%= f.button :submit %>
<% end %>