<div class="page-header">
  <h1>Lieux</h1>
</div>

<a href="<%= new_place_path %>" class="btn btn-default pull-right">
  <i class="fa fa-plus"></i> Nouveau
</a>

<table class="table table-hover datatable">
  <thead>
    <tr>
      <th>#</th>
      <th>Nom</th>
      <th>Description</th>
      <th>Affectation</th>
    </tr>
  </thead>
  <tbody>
    <% @places.each do |place| %>
    <tr>
      <td><%= place.id %></td>
      <td><%= place.label %></td>
      <td><%= place.description %></td>
      <td><%= place.stand ? place.stand.label : '' %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= javascript_include_tag params[:controller] %>