<h2>Nouveau lieu</h2>

<%= simple_form_for @place, html: { class: 'form-horizontal' }, wrapper: :horizontal_form, url: places_path do |f| %>
    <%= f.input :label %>
    <%= f.input :description %>
    <%= f.association :stand %>

    <%= f.button :submit %>
<% end %>