<!DOCTYPE html>
<html>
  <head>
    <title>Allo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Allo</h1>
    <a href="<%= new_order_path %>">Passe ta commande !</a>
    <hr>
    <a href="<%= orders_path %>">Commandes</a>
    <a href="<%= stands_path %>">Stands</a>
    <a href="<%= places_path %>">Lieux</a>
    <%= yield %>
  </body>
</html>
